/*
@font-face {
  font-family: 'Exo2-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Exo2-Light'),
       url(../fonts/Exo2-Light.woff2) format(woff2),
       url(../fonts/Exo2-Light.woff) format(woff);
  font-display: swap;
}
*/
