/*
%exo2-300{
  font-family: 'Exo2-Light', sans-serif;
  font-weight: 300;
}

%checkbox-hidden,
%radio-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%text_a{
  font-size: 40px;
  line-height: 48px;
}
*/